.bar.bar-stable {background-color: #6DB33F;}
.bar.bar-stable .title, .bar-stable .button{color: white;}
.bar-stable .button.button-clear{color: white;}
.ion-header-bar{background-color: #6DB33F;color: white;}
.menu{background-color: #34302D;color: white;}
.menu .item, .menu .item .item-content{background-color: #34302D;color: white;}
.align-right{text-align: right;}