<ion-view title="Thumbs up" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <div class="list list-inset">
      <label class="item item-input">
        <ion-google-place placeholder="Adresse de destination" ng-model="location" ng-change="adresse=''" />
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          Trajets favoris:
        </div>
        <select id="favSelect" ng-model="adresse" ng-change="location=''"></select>
      </label>
    </div>
    <div class="scroll-bar scroll-bar-v">
      <div class="scroll-bar-indicator scroll-bar-fade-out" style="height: 0px; -webkit-transform: translate3d(0px, 0px, 0px) scaleY(1);">
      </div>
   </div>
    <div class="list" ng-show="!adresse">
      <a class="button button-icon-left button-full button-content-left" ng-show="!adresse" ng-disabled="!location" ng-href="#/app/itineraire/{{location.geometry.location.k}}/{{location.geometry.location.D}}">
        <i class="icon ion-model-s"></i>
        Démarrer votre trajet
      </a>
      <a class="button button-icon-left button-full button-content-left" ng-show="!adresse" ng-disabled="!location" ng-href="#/app/recherche/{{location.geometry.location.k}}/{{location.geometry.location.D}}">
        <i class="icon ion-search"></i>
        Trouver un véhicule
      </a>
      <a id="enregistrer" class="button button-icon-left button-full button-content-left" ng-show="!adresse" ng-click="saveAdresse(location.formatted_address, location.geometry.location.k, location.geometry.location.D);play();">
        <i class="icon ion-archive"></i>
      Enregistrer votre destination
      </a>
    </div>

    <div class="list">
      <a class="button button-icon-left button-full button-content-left" ng-show="adresse" ng-disabled="!adresse" ng-href="#/app/itineraire/{{adresse}}">
        <i class="icon ion-model-s"></i>
        Démarrer votre trajet
      </a>
      <a class="button button-icon-left button-full button-content-left" ng-show="adresse" ng-disabled="!adresse" ng-href="#/app/recherche/{{adresse}}">
        <i class="icon ion-search"></i>
        Trouver un véhicule
      </a>
    </div>

    <button id="test" class="button button-block button-green" onClick="play('beer_can_opening.mp3');">Click</button>

  </ion-content>
</ion-view>
