<ion-view title="Thumbs up" ng-show="showMap">
  <!--<ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>-->
  <ion-header-bar class="bar bar-dark" ng-init="init()">
    <h1 class="title">Map</h1>
  </ion-header-bar>
  <ion-content class="has-header">
    <div id="map" data-tap-disabled="true"></div>
    <button class="button button-full button-assertive nomargin" ng-click="exit()" ng-show="button==1"><i class="icon ion-close-round"></i> Quitter la navigation</button>
    <button class="button button-full button-energized nomargin" ng-click="annuler()" ng-show="button==2"><i class="icon ion-close-round"></i> Annuler la prise en charge</button>
    <button class="button button-full button-positive nomargin" ng-click="reprise()" ng-show="button==3"><i class="icon ion-checkmark-round"></i> Valider si l'auto-stoppeur a été trouvé</button>
  </ion-content>
</ion-view>

<ion-pane ng-hide="showMap" class="panecustom">
  <ion-content class="has-header">
    <div id="map" class="block block-green center">
      <h1><i class="ion-checkmark-circled"></i></h1>
      <h4>Félicitation vous êtes arrivé à destination !</h4>
      <p>Participation demandée : {{ participationDemandee / 100 }}€/km</p>
      <div ng-repeat="match in matchsAutostoppeur" class="card block block-white">
        <h4 class="center">{{ match.nom }}</h4>
        <p>Cette personne vous doit {{ match.cout }}€ pour une distance de {{ match.distanceTotale/1000 }}km effectuée</p>
      </div>
    </div>
    <button class="button button-full button-light nomargin" id="buttonlightcustom" ng-click="terminer()"><i class="icon ion-checkmark-round"></i> Continuer</button>
  </ion-content>
</ion-pane>