<ion-side-menus>

  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-stable nav-title-slide-ios7">
      <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left">
    <ion-content class="has-header">
      <ion-list>
        <ion-item nav-clear menu-close href="#/app/accueil">
          Accueil
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/profil">
          Profil
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/trajets">
          Trajets Favoris
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/contact">
          Contact
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/messages">
          Messages
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/historique">
          Historique
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/reglages">
          Réglages
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/inviter">
          Inviter
        </ion-item>
        <ion-item nav-clear menu-close ng-click="login()">
          Login
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
