<ion-view title="Profil">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <div class="list list-inset">
            <label class="item item-input">
                <input id="nomUser" type="text" placeholder="Nom d'utilisateur">
            </label>
        </div>
        <div class="button-bar">
            <a class="button button-green" id="button1" onclick="toggleDiv('button1', 'button2')">Conducteur</a>
            <a class="button button-stable" id="button2" onclick="toggleDiv('button1', 'button2')">Auto-stoppeur</a>
        </div>
        <div id="divConducteur" class="divToggle">
            <div class="list list-inset">
                <label class="item item-input">
                    <input id="marque" type="text" placeholder="Marque">
                </label>
                <label class="item item-input">
                    <input id="modele" type="text" placeholder="Modèle">
                </label>
                <label class="item item-input">
                    <input id="couleur" type="text" placeholder="Couleur">
                </label>
            </div>
            <div class="list">
                <div class="row item item-input">
                    <label class="col col-65">Nombre de places disponibles : </label>
                    <input class="col col-25" id="nbPlaces" type="number" min="0" max="8" value="0">
                </div>
            </div>
            <div class="list">
                <div class="row item item-input">
                    <label class="col col-75">Participation demandée :</label>
                    <label id="resParticipation" class="col col-25 align-right">0,50 €/km</label>
                </div>
                <div class="item range range-positive">
                    <i class="icon ion-minus"></i>
                    <input type="range" name="volume" min="0" max="100" value="50" id="sliderParticipation" ondrag="printValueSlider('sliderParticipation', 'resParticipation', 0.01, 2, '€/km');">
                    <i class="icon ion-plus"></i>
                </div>
                <div class="row item item-input">
                    <label class="col col-75">Distance de détour acceptée :</label>
                    <label id="resDistance" class="col col-25 align-right">1000 m</label>
                </div>
                <div class="item range range-positive">
                    <i class="icon ion-minus"></i>
                    <input type="range" name="volume" min="1000" max="5000" value="3000" step="100" id="sliderDistance" ondrag="printValueSlider('sliderDistance', 'resDistance', 1, 0, 'm');">
                    <i class="icon ion-plus"></i>
                </div>
            </div>
        </div>
        <div id="divAutostoppeur" class="divToggle" style="display:none;">
            <div class="list">
                <div class="row item item-input">
                    <label class="col col-75">Participation maximale :</label>
                    <label id="resParticipationMax" class="col col-25 align-right">0,50 €/km</label>
                </div>
                <div class="item range range-positive">
                    <i class="icon ion-minus"></i>
                    <input type="range" name="volume" min="0" max="100" value="50" id="sliderParticipationMax" ondrag="printValueSlider('sliderParticipationMax', 'resParticipationMax', 0.01, 2, '€/km');">
                    <i class="icon ion-plus"></i>
                </div>
                <div class="row item item-input">
                    <label class="col col-75">Etre déposé à moins de :</label>
                    <label id="resDepose" class="col col-25 align-right">1000 m</label>
                </div>
                <div class="item range range-positive">
                    <i class="icon ion-minus"></i>
                    <input type="range" name="volume" min="0" max="2000" value="1000" step="100" id="sliderDepose" ondrag="printValueSlider('sliderDepose', 'resDepose', 1, 0, 'm');">
                    <i class="icon ion-plus"></i>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
