<ion-view title="Profil">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="Nom d'utilisateur" ng-model="user.nom" />
            </label>
        </div>
        <div class="button-bar">
            <button class="button button-green" ng-click="printOther()" ng-disabled="printConductor">Conducteur</button>
            <button class="button button-green" ng-click="printOther()" ng-disabled="!printConductor">Auto-stoppeur</button>
        </div>
        <div ng-show="printConductor">
            <div class="list list-inset">
                <label class="item item-input">
                    <input type="text" placeholder="Marque" ng-model="user.marque"/>
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Modèle" ng-model="user.modele"/>
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Couleur" ng-model="user.couleur"/>
                </label>
            </div>
            <div class="list">
                <div class="row item item-input">
                    <label class="col col-65">Nombre de places disponibles : </label>
                    <input class="col col-25" type="number" min="0" max="8" ng-model="user.nbPlaces"/>
                </div>
                <div class="row item item-input">
                    <label class="col col-75">Participation demandée :</label>
                    <label id="resParticipation" class="col col-25 align-right">{{ user.participationDemandee / 100 }} €/km</label>
                </div>
                <div class="range">
                    <i class="icon ion-minus"></i>
                    <input type="range" name="volume" min="0" max="100" ng-model="user.participationDemandee" id="sliderParticipation" ondrag="printValueSlider('sliderParticipation', 'resParticipation', 0.01, 2, '€/km');"/>
                    <i class="icon ion-plus"></i>
                </div>
                <div class="row item item-input">
                    <label class="col col-75">Distance de détour acceptée :</label>
                    <label id="resDistance" class="col col-25 align-right">{{ user.detour }} m</label>
                </div>
                <div class="range">
                    <i class="icon ion-minus"></i>
                    <input type="range" name="volume" min="1000" max="5000" ng-model="user.detour" step="100" id="sliderDistance" ondrag="printValueSlider('sliderDistance', 'resDistance', 1, 0, 'm');"/>
                    <i class="icon ion-plus"></i>
                </div>
            </div>
        </div>
        <div ng-hide="printConductor">
            <div class="row item item-input">
                <label class="col col-75">Participation maximale :</label>
                <label id="resParticipationMax" class="col col-25 align-right">{{ user.participationMaximale / 100 }} €/km</label>
            </div>
            <div class="range">
                <i class="icon ion-minus"></i>
                <input type="range" name="volume" min="0" max="100" ng-model="user.participationMaximale" id="sliderParticipationMax" ondrag="printValueSlider('sliderParticipationMax', 'resParticipationMax', 0.01, 2, '€/km');"/>
                <i class="icon ion-plus"></i>
            </div>
            <div class="row item item-input">
                <label class="col col-75">Etre déposé à moins de :</label>
                <label id="resDepose" class="col col-25 align-right">{{ user.depose }} m</label>
            </div>
            <div class="range">
                <i class="icon ion-minus"></i>
                <input type="range" name="volume" min="1000" max="3000" ng-model="user.depose" step="100" id="sliderDepose" ondrag="printValueSlider('sliderDepose', 'resDepose', 1, 0, 'm');"/>
                <i class="icon ion-plus"></i>
            </div>
        </div>
        <button class="button button-block button-green" ng-click="update(user, profile)">Sauvegarder</button>
    </ion-content>
</ion-view>
